<div class="container">
    <div class="row">
<% try{
    if(successes.length + failures.length != 0){
%>

    <div class="col-8">
        <div class="card">

        <div class="card-body">
            <h5 class="card-title unsecure">Successful Attacks: <%=successes.length%></h5>
            <p class="card-text">Fuzz Tests That Passed</p>
        </div>
        <ul class="list-group list-group-flush">
            <% for (var i = 0; i<successes.length; i++){ %>
                <li class="list-group-item"><%=successes[i]%></li>
            <% } %>
        </ul>
        </div>
        <div class="card">

        <div class="card-body">
            <h5 class="card-title secure">Prevented Attacks: <%=failures.length%></h5>
            <p class="card-text">Fuzz Tests That Failed</p>
        </div>
        <ul class="list-group list-group-flush">
            <% for (var i = 0; i<failures.length; i++){ %>
                <li class="list-group-item"><%=failures[i]%></li>
            <% } %>
        </ul>
        </div>
    </div>

<% }
else {
%>
    <div class="col-8">
        <div class="card">

        <div class="card-body">
            <h5 class="card-title">Please run scanner to view results</h5>
        </div>
        </div>
    </div>

<%
} // end else
 } catch(e){} %>
 <div class="col-4">
        
        <h4>Target Application Configuration</h2>
        <form method="POST" action="/scanner/run-scan">
            <ul class="config-options-input">
                <li><label>App URL: <input type="text" value="<%=defaultConfigOptions.url%>" name="url" /></label></li>
                <li><label>Target Inputs: <textarea name="targetInputs"><%=defaultConfigOptions.targetInputs%></textarea></label></li>
                <li><label>Success Content: </label><input type="text" value="<%=defaultConfigOptions.successContent%>" name="successContent" /></li>           
                <li><input type="submit" value="Run" /></li>
            </ul>
        </form> 
    </div>
</div> 
</div>